body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f2e7;
}

header {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 1em;
}

#songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.song {
    width: 300px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.song:hover {
    transform: scale(1.05);
}

.song img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #e74c3c;
}

.song .info {
    padding: 15px;
}

.song h2 {
    color: #e74c3c;
}

.song p {
    color: #333;
}


@media (max-width: 768px) {
    .song {
        width: calc(50% - 30px);
    }
}

.edSheeranButton1,
.edSheeranButton2 {
  background-color: #ffffff; /* White background */
  color: #3b5998; /* Dark blue text */
  border: 2px solid #3b5998; /* Dark blue border */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

.edSheeranButton1:hover,
.edSheeranButton2:hover {
  background-color: #3b5998; /* Dark blue */
  color: #ffffff; /* White text */
}

.edSheeranButton2 {
  border-color: #ff7f00; /* Orange border */
  color: #ff7f00; /* Orange text */
}

.edSheeranButton2:hover {
  background-color: #ff7f00; /* Orange background */
  color: #ffffff; /* White text */
}

